<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495463574098-v55lilmc2jf8p41a1cm66ep8el8ioinv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495463574098-v55lilmc2jf8p41a1cm66ep8el8ioinv</string>
	<key>API_KEY</key>
	<string>AIzaSyC2mjoMNX8-iR8HUhyEYV-RXOHm8h-qBwk</string>
	<key>GCM_SENDER_ID</key>
	<string>495463574098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.SpeneeB23</string>
	<key>PROJECT_ID</key>
	<string>flashchat-e49e7</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-e49e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495463574098:ios:f2655edfe88b5fd6554d8b</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-e49e7.firebaseio.com</string>
</dict>
</plist>